USE [CopperForecast]
GO
/****** Object:  StoredProcedure [silver].[load_silver]    Script Date: 28/05/2026 12:48:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
======================================================================================================================
Usage:
  This query uses TRUNCATE and INSERT to remove and replace values for all tables in the silver layer. 
	Warning:
  This query will wipe any locally saved data from the silver.tables
Outputs:
	This query cleans and transforms the data from the bronze layer. Dates are converted from varchar to date type.
	Only Friday close data is conserved for price forecasting.
======================================================================================================================
*/

CREATE OR ALTER   PROCEDURE [silver].[load_silver] AS

BEGIN
	DECLARE @start_time DATETIME, @end_time DATETIME, @batch_start_time DATETIME, @batch_end_time DATETIME;

	BEGIN TRY
		SET @batch_start_time = GETDATE();
		PRINT '========================';
		PRINT 'Loading Silver Layer';
		PRINT '========================';

		-- Loading silver.brent
		SET @start_time = GETDATE()
			PRINT '>> Truncating Table: silver.brent';
			TRUNCATE TABLE silver.brent;

			PRINT '>> Inserting Data Into: silver.brent';
		
		WITH grp_cte AS (
			SELECT
				[date],
				brent,
				COUNT(CASE WHEN brent IS NOT NULL THEN 1 END) OVER 
									(ORDER BY [date] ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS grp
			FROM bronze.brent
			),

			ff_cte AS(
			SELECT
				[date],
				MAX(brent) OVER (PARTITION BY grp) AS ff_brent
			FROM grp_cte)

		INSERT INTO silver.brent (
			[date],
			brent)

		SELECT
			CAST([date] as DATE),
			ff_brent
		FROM ff_cte
		WHERE DATENAME(WEEKDAY, [date]) = 'Friday'

			SET @end_time = GETDATE();
			PRINT '>> Load Duration: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
			PRINT '--------------------------';
		----------------------------------------------------------------
		-- dxy table
		----------------------------------------------------------------
		SET @start_time = GETDATE()
			PRINT '>> Truncating Table: silver.dxy';
		TRUNCATE TABLE silver.dxy;
			PRINT '>> Inserting Data Into: silver.dxy';
		
		WITH grp_cte AS (
			SELECT
				[date],
				dxy,
				COUNT(CASE WHEN dxy IS NOT NULL THEN 1 END) OVER 
									(ORDER BY [date] ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS grp
			FROM bronze.dxy
			),

			ff_cte AS(
			SELECT
				[date],
				MAX(dxy) OVER (PARTITION BY grp) AS ff_dxy
			FROM grp_cte)
		
		INSERT INTO silver.dxy (
			[date],
			dxy)

		SELECT
			CAST([date] AS DATE) AS [date],
			ff_dxy
		FROM ff_cte
		WHERE DATENAME(WEEKDAY, [date]) = 'Friday'

		SET @end_time = GETDATE();
		PRINT '>> Load Duration: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '--------------------------';
		-----------------------------------
		----- copper_price table -----
		-----------------------------------
		SET @start_time = GETDATE()
			PRINT '>> Truncating Table: silver.copper_price';
		TRUNCATE TABLE silver.copper_price;
			PRINT '>> Inserting Data Into: silver.copper_price';
		WITH grp_cte AS (
		SELECT
			[date],
			copper_price,
			COUNT(CASE WHEN copper_price IS NOT NULL THEN 1 END) OVER 
								(ORDER BY [date] ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS grp
		FROM bronze.copper_price
		),

		ff_cte AS(
		SELECT
			[date],
			MAX(copper_price) OVER (PARTITION BY grp) AS ff_copper_price
		FROM grp_cte)
		
		INSERT INTO silver.copper_price (
			[date],
			copper_price
		)

		SELECT
			CAST([date] AS DATE) AS [date],
			ff_copper_price
		FROM ff_cte
		WHERE DATENAME(WEEKDAY, [date]) = 'Friday'

		SET @end_time = GETDATE();
		PRINT '>> Load Duration: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		
		PRINT '-----------------------------'
		--------------------------
		------ shanghai_composite ------
		--------------------------
		SET @start_time = GETDATE()
			PRINT '>> Truncating Table: silver.shanghai_composite';
		TRUNCATE TABLE silver.shanghai_composite;
		
		PRINT '>> Inserting Data Into: silver.shanghai_composite';
		WITH grp_cte AS (
		SELECT
				[date],
				shanghai_close,
				COUNT(CASE WHEN shanghai_close IS NOT NULL THEN 1 END) OVER 
									(ORDER BY [date] ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS grp
			FROM bronze.shanghai_composite
			),

			ff_cte AS(
			SELECT
				[date],
				MAX(shanghai_close) OVER (PARTITION BY grp) AS ff_shanghai_close
			FROM grp_cte)

			INSERT INTO silver.shanghai_composite (
				[date],
				shanghai_close)

			SELECT
				CAST([date] AS DATE),
				ff_shanghai_close
			FROM ff_cte
			WHERE DATENAME(WEEKDAY, [date]) = 'Friday'		

		SET @end_time = GETDATE();
		PRINT '>> Load Duration: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '-----------------------------'
		------------------------------------
		------ cot_copper table -------
		------------------------------------
		SET	@start_time = GETDATE()
			PRINT '>> Truncating Table: silver.cot_copper';
		TRUNCATE TABLE silver.cot_copper;
		
		PRINT '>> Inserting Data Into: silver.cot_copper';

		WITH bounds AS(
			SELECT
				MIN(Report_Date_as_MM_DD_YYYY) AS min_date,
				MAX(DATEADD(day, 6, Report_Date_as_MM_DD_YYYY)) AS max_date
			FROM bronze.cot_copper),

			date_spine AS(
				SELECT
					min_date AS date_value, 
					max_date
				FROM bounds

					UNION ALL
	
				SELECT
					DATEADD(DAY, 1, date_value),
					max_date
				FROM date_spine
				WHERE date_value < max_date
			),

			grp_cte AS (
			SELECT
				date_value,
				net_position,
				COUNT( CASE WHEN net_position IS NOT NULL THEN 1 END) OVER
									(ORDER BY date_value ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS grp
			FROM date_spine ds
			LEFT JOIN bronze.cot_copper cp
				ON ds.date_value = cp.Report_Date_as_MM_DD_YYYY
			),

			ff_net_position AS(
			SELECT
				CAST(date_value AS DATE) AS [date],
				MAX(net_position) OVER (PARTITION BY grp) AS ff_net_position
			FROM grp_cte)

		INSERT INTO silver.cot_copper (
			[date],
			net_position
			)

		SELECT
			*
		FROM ff_net_position
		WHERE DATENAME(WEEKDAY, [date]) = 'Friday'
		OPTION(MAXRECURSION 0)
		
		SET @end_time = GETDATE();
		PRINT '>> Load Duration: ' + CAST(DATEDIFF(SECOND, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '-----------------------------'

		SET @batch_end_time = GETDATE();
		PRINT '==========================';
		PRINT 'Silver Layer Load Completed';
		PRINT 'Total Load Duration: ' + CAST(DATEDIFF(SECOND, @batch_start_time, @batch_end_time) AS NVARCHAR) + ' seconds';
		PRINT '==========================';
	
	END TRY
	BEGIN CATCH
		PRINT '==========================';
		PRINT 'ERROR OCCURED DURING LOADING SILVER LAYER';
		PRINT 'Error Message' + ERROR_MESSAGE();
		PRINT 'Error Message' + CAST (ERROR_NUMBER() AS NVARCHAR);
		PRINT '=========================='
	END CATCH
END